.jumbotron{
    height: 30%;
}
h1{
    color: black;
    text-align: center;
    font-weight:300;
    font-size:3em;
}
.about{
    height: 60%;

}
h2{
    font-weight: 500;
    padding-left:60%;
}
h4{
    text-align: center;
    font-weight:400;
    font-size:2em;
}
h5{
    font-weight: 330;
    font-size: 1.5em;
}
p{
    font-size: 26px;
}
mdb-card-img{
    // background-size: contain;
    
    height: fit-content;
    
}
mdb-card{
    height: 600px;
    background-size: cover;
    // font-size: 18px;
}
mdb-card-text{
    font-size: 20px;
}
#one{
    background-size: cover;
}
