<!-- <link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap" rel="stylesheet"> -->
<a class="nav-link" routerLink="/"> <i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Go back</a>
<label for="">
    <select #langselect (change) ="translate.use(langselect.value)">
        <option [ngValue]="null">{{'About.SELECT'| translate}}</option>
    <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
  </select>
  </label>
<div class="jumbotron">
    <h1>{{'About.TitleOne'| translate }}<br><br>
      {{'About.TitleTwo'| translate }}</h1>
</div>
<div class="about">
    <!-- <h2 style="align-content: center;">ABOUT QURE</h2> -->

    <div class="card-deck">
        <!-- Card -->
        <mdb-card>
          <div class="view overlay waves-light" id="one" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="assets/image/epharmacy.png" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>E-Pharmacy</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> {{'About.Epharmacy'| translate}}
            </mdb-card-text>
      
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Go here</a>
          </mdb-card-body>
        </mdb-card>
      
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" id="one" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="assets/image/chatnow.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Consultations</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text>{{'About.Consultation'|translate}}
            </mdb-card-text>
      
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Go here</a>
          </mdb-card-body>
        </mdb-card>
      
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" id="one" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="assets/image/labimage.jpg" alt="Card image cap"></mdb-card-img>
            <!-- <a>
              <div class="mask"></div>
            </a> -->
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Lab Tests</h4>
            </mdb-card-title>
      
            <!--Text-->
            <mdb-card-text> {{'About.Labtest'|translate}}
            </mdb-card-text>

      
            <a href="#" mdbBtn color="primary" mdbWavesEffect>Go here</a>
          </mdb-card-body>
        </mdb-card>
      </div>
<br/>
<br/>
    <!-- <br>
    <br>
    <div class="row">
        <div class="col-md-4">
          <center><img src="assets/image/medicine-icon.png"></center><br>
          <h4>E-Pharmacy</h4><br>
          <h3> <center>Order medicines and health products online and get it delivered
          at home from licensed pharmacies</center></h3>
        </div>
        <div class="col-md-4">
       <center><img src="assets/image/online-consultation-icon.png"></center><br>
       <h4>Online Consultations</h4><br>
       <h3><center>Consult qualified and registered doctors on chat for free</center></h3>
        </div>
        <div class="col-md-4">
       <center><img src="assets/image/lab-test-icon.png"></center><br>
       <h4>Lab Tests</h4><br>
       <h3><center>Book lab tests online for hassle-free,
        home sample collection service.
        Get reports online.</center> </h3>
        </div>
        <br>
        </div><br> -->
        <!-- <p>Qure brings to you an online platform, which can be accessed for all your health
            needs. We are trying to make <br>healthcare a hassle-free experience for you. Get your allopathic,
             ayurvedic, homeopathic medicines, vitamins <br>& nutrition supplements and other health-related products delivered at home. Lab tests? 
           That too in the comfort<br> of your home. Doctor consult? Yes, we got that covered too.</p> -->
           <p>{{'About.BelowCards'| translate }}</p>
           <br><br>
           <div class="row">
            <div class="col-md-6">
              <center><img src="assets/image/aboutUs_image.png" height="250px;"width="530px;"></center>
            </div>
            <div class="col-md-6">
             <h3><b>{{'About.Sideheading'|translate}}</b></h3>
    <p>{{'About.Besideimage'| translate}}<!-- <p>At Qure we strongly believe that a great culture is an important ingredient for a startup’s success. 
    Our culture promotes radical candour,
    fast paced iterations, collaboration and a flat hierarchy. Listed below are our core values that
    enshrine our culture.
   <br>
    Done is better than perfect:
    We are highly experimental and data driven organization. As such we believe in shipping soon 
    and often. We believe that in the long run failing fast beats all else.<br>
    Team and not individual:
    We believe in the power of the team. For us a superstar team is much more important than a
     superstar individual.<br> -->
</p>
            </div>
          </div> 
</div>

