.jumbotron{
    height: 30%;
    width: 139%;
}
h1{
    color:white;
    text-align: center;
    font-weight:300;
    font-size:3em;
}
.about{
    width:100%;
    height: 60%;

}
h2{
    font-weight: 500;
    padding-left:60%;
}
.row{
    width:139%;
}
h4{
    text-align: center;
    font-weight:400;
    font-size:2em;
}
h5{
    font-weight: 330;
    font-size: 1.5em;
}
