<a routerLink="/patient">Go back</a>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" *ngIf="patientData">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>patient</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Mr.{{patientData.name}}</h2>
      <h3>{{patientData.patientId}}</h3>
      <h4>{{patientData.email}}</h4>
      <h4>{{patientData.phone}}</h4>

      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!---->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPatientModal"
    (click)="onEditHandler()">Edit</button>
  <button type="button" class="btn btn-primary" (click)="onAppointmentClick(patientData.patientId)">View
    Appointments</button>


  <!-- Modal -->
  <div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="duplicatePatientData">
          <form ngNativeValidate #f="ngForm" (ngSubmit)="onUpdateHandler(f)">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" [(ngModel)]="duplicatePatientData.name" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Age</label>
              <div class="col-sm-9">
                <input type="int" class="form-control" name="age" placeholder="Enter Age"
                  [(ngModel)]="duplicatePatientData.age" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" name="email" placeholder="Enter Email"
                  [(ngModel)]="duplicatePatientData.email" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="phone" placeholder="Enter Phone"
                  [(ngModel)]="duplicatePatientData.phone" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="gender" [(ngModel)]="duplicatePatientData.gender"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">patientId</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="patientId" [(ngModel)]="duplicatePatientData.patientId"
                  disabled>
              </div>
            </div>

            <div class="alert alert-success" *ngIf="isSaved2">
              Updated successfully!
              refresh to view the changes
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!---->


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="sidebar">
    <a href="#home"><i class="fa fa-fw fa-home"></i>&nbsp; Home</a>
    <!-- <a href="#services"><i class="fa fa-list-alt"></i>&nbsp;History</a> -->
    <a href="#"><i class="fa fa-comments-o"></i>&nbsp;Chats</a>
    <a class="nav-link" (click)="onAppointmentClick(patientData.patientId)"><i class="fa fa-clock-o"></i>&nbsp;Show my
      Bookings</a>
    <a class="nav-link" routerLink="/patient/ordermedicines"><i class="fa fa-leaf"></i>&nbsp; Order Medicines</a>
    <a class="nav-link" [routerLink]="['/logout']"><i class="fa fa-sign-out">&nbsp;Log out</i></a>


  </div>

  <div class="main">
    <h2>Sidebar with Icons</h2>
    <p>This side navigation is of full height (100%) and always shown.</p>
    <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
      Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint
      efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
      Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint
      efficiantur his ad. Eum no molestiae voluptatibus.</p>
  </div>

</div>