<!--Section: Blog v.4-->
<section class="my-5">
    <a routerLink="/">GO BACK</a>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/image/motherblog.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">Tips for a Healthy Pregnancy</a>
            </h2>
            <p>Written by
              <a> Dr. Prathima Reddy, Gynecologist,</a> 11/08/2018</p>
  
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <h2>Staying Healthy During Pregnancy</h2>
          <p>If you're pregnant or thinking about getting pregnant, you probably know some of the basic pregnancy advice about taking care of yourself and the baby: don't smoke or be around secondhand smoke, don't drink, and get your rest. Here are more pregnancy tips, from taking vitamins to what to do with the kitty litter, that can help ensure safe and healthy prenatal development.
          </p>
          <h2>Take a Prenatal Vitamin</h2>
          <p>Even when you're still trying to conceive, it's smart to start taking prenatal vitamins. Your baby's neural cord, which becomes the brain and spinal cord, develops within the first month of pregnancy, so it's important you get essential nutrients – like folic acid, calcium, and iron – from the very start.

            <br/>  Prenatal vitamins are available over the counter at most drug stores, or you can get them by prescription from your doctor. If taking them makes you feel queasy, try taking them at night or with a light snack. Chewing gum or sucking on hard candy afterward can help, too.
          </p>
          <h2>Exercise</h2>
          <p>
              Staying active is important for your general health and can help you reduce stress, control your weight, improve circulation, boost your mood, and sleep better. Take a pregnancy exercise class or walk at least 15-20 minutes every day at a moderate pace, in cool, shaded areas or indoors in order to prevent overheating. 

             <br/> Pilates, yoga, swimming, and walking are also great activities for most pregnant women, but be sure to check with your doctor first before starting any exercise program. Aim for 30 minutes of exercise most days of the week. Listen to your body, though, and don't overdo it.
          </p>
          <h2>Educate Yourself</h2>
          <p>Even if this isn't your first baby, attending a childbirth class will help you feel more prepared for delivery. Not only will you have the chance to learn more about childbirth and infant care, but you can ask specific questions and voice any concerns. You'll also become more acquainted with the facility and its staff.

            <br/>  Now is also a good time to brush up on your family's medical history. Talk to your doctor about problems with past pregnancies, and report any family incidences of birth defects.</p>
            <h2>Rethink Your Spa Style</h2>
            <p>Pregnancy is definitely a time for pampering, but you need to be careful. Avoid saunas, which can make you overheated. Ditto for hot tubs: According to the American Pregnancy Association, it takes only 10 to 20 minutes of sitting in one for your body temperature to reach 102 degrees Farenheit—nearly the limit of what's considered safe for pregnant women.
               Also, certain essential oils can cause uterine contractions, especially during the first and second trimester, so check with your massage therapist to make sure only safe ones are being used.
                On the taboo list: juniper, rosemary, and clary sage. The same goes for over-the-counter medicines and supplements containing these herbal remedies; don't take them without first consulting your obstetrician or midwife.</p>
          <h2>Indulge Yourself</h2>
                <p>You may think you're busy now, but once the baby comes you'll have even fewer precious moments to yourself. Be sure to get at least eight hours of sleep a night, and if you're suffering from sleep disturbances, take naps during the day and see your physician if the situation doesn't improve.

                  <br/>  Treating yourself, too: A lunchtime manicure, a much-needed night out with the girls, or simply taking a quiet walk can help you relax and de-stress—and that's good for both you and the baby.</p>
              
              <h2>Learn About Postpartum Depression</h2> 
            <p>You've probably heard of postpartum depression, but you may not know that 10 percent to 20 percent of women experience symptoms of major depression during pregnancy, according to the March of Dimes. This could increase your risk for preterm labor. If you're feeling unexplainably sad, angry, or guilty – or if you lose interest in activities you usually enjoy or sleep too much – tell your doctor. Therapy, a support group, an antidepressant medication, or a combination of the three will likely help. Not all antidepressants are safe for pregnant women, so be sure to work with a doctor who is familiar with pregnancy-related mental health issues. To search for a prenatal/postpartum support organization in your area, visit postpartum.net.</p> </div>
      <h2>Make Friends</h2>
      <p>Find ways to meet other pregnant women, whether that's through a prenatal yoga or childbirth class, a neighborhood parents group, or an online parenting forum. The support, resources, and camaraderie from other women in the same boat as you can be crucial for getting through the ups and downs of pregnancy. "These are good connections after you have the baby, too," said Dr. Miller.</p>
          </div>
    </div>
    
  
  </section>
  <!--Section: Blog v.4-->
  <style>
  p{
    font-size: 20px;
  }
  </style>