
    <!-- <center><h1 class=".h1-responsive font-weight-bold">QURE</h1></center> -->
    

    <mdb-carousel class="carousel slide carousel-fade view overlay rounded z-depth-2 mb-4 waves-light"
        [animation]="'fade'">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" id="one" src="assets/image/carousal1.jpg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" style="color: black;">
                <h2 class="h2-responsive font-weight-bold">Qure... we'll get you well quick</h2>
                <p class="font-weight-bold">Book now !!!</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="assets/image/carousal2.jpg" alt="Second slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" style="color: black;">
                <h2 class="h2-responsive font-weight-bold">Qure... we help you cure better</h2>
                <p class="font-weight-bold">Chat with doctors and get your queries cleared</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="assets/image/carousal3.jpg" alt="Third slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" style="color: black;">
                <h2 class="h2-responsive font-weight-bold">Qure... will get you doctors as well as medicines</h2>
                <p class="font-weight-bold">Get your prescribed medicines to your doorstep</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <div class="col-sm-12">
        <section class="text-center my-5">
            <h2 class="h1-responsive font-weight-bold my-5">Recent Medical Blogs</h2>
            <!-- <p class="dark-grey-text w-responsive mx-auto mb-5">...</p> -->
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <div class="view overlay rounded z-depth-2 mb-4 waves-light" id="myElement" mdbWavesEffect>
                        <img class="img-fluid" src="assets/image/yoga.jpg" alt="Sample image">
                        <a routerLink="/blogs/blog1">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a routerLink="/blogs/blog1" class="pink-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon far icon="blog" class="pr-2"></mdb-icon>Fitness
                        </h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Yoga for Relaxation</strong></h4>
                    <p>by <a class="font-weight-bold">Shirley Cynthia</a>, 15/08/2019</p>
                    <p class="dark-grey-text"> Yoga is a mental and physical practice of exercises, poses, and
                        meditation techniques that originated in ancient India…</p>
                    <a mdbBtn color="pink" rounded="true" mdbWavesEffect routerLink="/blogs/blog1">Read more</a>
                </div>
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <div class="view overlay rounded z-depth-2 mb-4 waves-light" id="myElement" mdbWavesEffect>
                        <img class="img-fluid" src="assets/image/skincare.jpg" alt="Sample image">
                        <a routerLink="/blogs/blog2">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a routerLink="/blogs/blog2" class="deep-orange-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon fas icon="mortar-pestle"></mdb-icon>Beauty
                        </h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Skin care</strong></h4>
                    <p>by <a class="font-weight-bold">Dr. Surya Vamsi, M.D.</a>, October 18,2019</p>
                    <p class="dark-grey-text">If you want glowing skin, the old adage 'you are what you eat' has never
                        been truer. Our nutritionist's tips ...</p>
                    <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect routerLink="/blogs/blog2">Read more</a>
                </div>
                <div class="col-lg-4 col-md-6 mb-0">
                    <div class="view overlay rounded z-depth-2 mb-4 waves-light" id="myElement" mdbWavesEffect>
                        <img class="img-fluid" src="assets/image/Depression-Symptoms-and-Signs.jpg" alt="Sample image">
                        <a routerLink="/blogs/blog3">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <a routerLink="/blogs/blog3" class="blue-text">
                        <h6 class="font-weight-bold mb-3">
                            <mdb-icon fas icon="h-square"></mdb-icon>&nbsp;Mental Health
                        </h6>
                    </a>
                    <h4 class="font-weight-bold mb-3"><strong>Fight Depression and Stress</strong></h4>
                    <p>by <a class="font-weight-bold"> Amulya Meka</a>, April 23, 2019</p>
                    <p class="dark-grey-text">Having a constant cycle of negative thoughts may feel like it’s taking
                        over your life. How to Overcome it? </p>
                    <a mdbBtn color="info" rounded="true" mdbWavesEffect routerLink="/blogs/blog3">Read more</a>
                </div>
            </div>
        </section>
    </div>
    <section class="my-5">
        <h2 class="h1-responsive font-weight-bold text-center my-5">More posts</h2>
        <p class="text-center w-responsive mx-auto mb-5"></p>
        <div class="row">
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" id="myElement" mdbWavesEffect>
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                        alt="Sample image">
                    <a routerLink="/blogs/blog4">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>

            <div class="col-lg-7">
                <a routerLink="/blogs/blog4" class="green-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food for Health
                    </h6>
                </a>
                <h3 class="font-weight-bold mb-3"><strong>What is the Nutritarian Diet</strong></h3>
                <p>Emphasizes eating high-nutrient, whole plant foods that supply abundant amounts of micronutrients.
                    Eating this healthful diet unleashes the body’s tremendous ability to heal, achieve optimal weight
                    and slow the aging process.</p>
                <p>by <a><strong>Dr.Uma Maheswari</strong></a>, 19/08/2019</p>
                <a mdbBtn color="success" mdbWavesEffect routerLink="/blogs/blog4">Read more</a>

            </div>

        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-7">
                <a routerLink="/blogs/blog5" class="pink-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon fas icon="heartbeat"></mdb-icon>Lifestyle
                    </h6>
                </a>
                <h3 class="font-weight-bold mb-3"><strong>Lower your risk of Heart Disease</strong></h3>
                <p>Heart disease is the leading cause of the death in the India.
                    It is also a major cause of disability. There are many things that can raise your risk for heart
                    disease..</p>
                <p>by <a><strong>Dr. Dharma Rakshak</strong></a>, 14/08/2018</p>
                <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4" routerLink="/blogs/blog5">Read more</a>

            </div>
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 waves-light" id="myElement" mdbWavesEffect>
                    <img class="img-fluid" src="assets/image/heartrisk.jpg" alt="Sample image">
                    <a routerLink="/blogs/blog5">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" id="myElement" mdbWavesEffect>
                    <img class="img-fluid" src="assets/image/pregnancy.jpg" alt="Sample image">
                    <a routerLink="/blogs/blog6">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <div class="col-lg-7">
                <a routerLink="/blogs/blog6" class="indigo-text">
                    <h6 class="font-weight-bold mb-3">
                        <mdb-icon fas icon="baby"></mdb-icon>Motherhood
                    </h6>
                </a>
                <h3 class="font-weight-bold mb-3"><strong>Health and Pregnancy guide</strong></h3>
                <p>When the pregnancy test comes back positive, you've begun a life-altering journey
                    You need information to answer your questions and help you make good decisions for a healthy baby
                    and a healthy you.</p>

                <p>by <a><strong>Dr. Prathima Reddy, Gynecologist</strong></a>, 11/08/2018</p>

                <a mdbBtn color="indigo" mdbWavesEffect routerLink="/blogs/blog6">Read more</a>

            </div>
        </div>
    </section>
