<!-- Section: Personal card -->
<a routerLink="/patients/login">Go back</a>
<section class="my-5">

    <!-- Grid row 1 -->
    <div class="row" *ngIf="patientData">

        <!-- Grid column -->
        <div class="col-md-3">

            <!-- Card -->
            <div class="card card-personal">

                <!-- Card image-->
                <img class="card-img-top" src="\assets\image\person3.gif" alt="Card image cap">
                <!-- Card image-->

                <!-- Card content -->
                <div class="card-body">
                    <!-- Title-->
                    <a>
                        <h4 class="card-title title-one">{{patientData.name}}</h4>
                    </a>
                    <p class="card-meta">{{patientData.email}}</p>
                    <!-- Text -->
                    <p class="card-text">{{patientData.phone}}</p>
                    <hr>
                   <center> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPatientModal"
                    (click)="onEditHandler()">view/edit profile</button></center>
                 
                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>
        <!-- Grid column 2 -->
        <div class="col-md-6">

            <!-- Card -->
            <div class="card text-center card-personal">

                <!-- Card image-->
                <img class="card-img-top" src="\assets\image\appoint1.jpg" alt="Card image cap">
                <!-- Card image-->

                <!-- Card content -->
                <div class="card-body ">
                    <!-- Title-->
                    <a>
                            <p class="card-text">You don't have to visit or call us now.</p>
                           
                        
                    </a>
                    <button type="button" class="btn-sm btn-primary" (click)="onBookAppointmentHandler(patientData.patientId)">Book new appointment</button>
                    <button type="button" (click)="onViewAppointmentList()" class="btn-sm btn-danger">Your appointments</button>  
                      
                   
                    <!-- <p class="card-meta">{{patientData.email}}</p> -->
                    <!-- Text -->
                   
                   

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>

        <!-- Grid column3 -->
        <div class="col-md-3">
      
            <!-- Card -->
            <div class="card text-center card-personal">
      
              <!-- Card image-->
              <img class="card-img-top" src="\assets\image\medicine.jpg" alt="Card image cap">
              <!-- Card image-->
      
              <!-- Card content -->
              <div class="card-body ">
                <!-- Title-->
                <a>
                  <h4 class="card-title title-one ">Book Medicines</h4>
                </a>
                <!-- <p class="card-meta">{{patientData.email}}</p> -->
                <!-- Text -->
                <p class="card-text">Our own QURE Pharmacy is at your service.</p>
               
                <button type="button" class="btn-sm btn-primary" (click)="viewOrderList(patientData.patientId)">View medicines</button>     <hr>
                
              </div>
              <!-- Card content -->
      
            </div>
            <!-- Card -->
      
          </div>
      
        </div>
    <!-- Grid row -->

</section>
<!-- Section: Personal card -->

<div>


    <!-- Modal -->
    <div class="modal fade" id="viewAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="duplicateAppointmentData">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="onUpdateHandler(f)">
                    <!-- <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Appointment Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="id" placeholder="Enter Id"
                                [(ngModel)]="appointmentData.appointmentId" disabled required>
                        </div>
                    </div> -->
                    <!-- <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="date" placeholder="Enter date"
                                [(ngModel)]="duplicateAppointmentData.appointmentDate" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Time</label>
                        <div class="col-sm-9">
                          
                                <select class="form-control" name="time" [(ngModel)]="duplicateAppointmentData.time" required>
                                    <option value="9">9 am</option>
                                    <option value="10">10 am</option>
                                    <option value="17">5 pm</option>
                                    <option value="18">6 pm</option>
                                    <option value="19">7 pm</option>
                                    <option value="9">9 pm</option>
                              
                                    </select>
                        </div>
                    </div> -->


                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-3 col-form-label">Date</label>
                      <div class="col-sm-9">
                          <input type="date" class="form-control" name="appointmentDate" id="appointmentDate"
                              [(ngModel)]="duplicateAppointmentData.appointmentDate" required min=0>
                          <p class="text-danger" id="dateErr"></p>    
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="staticEmail" class="col-sm-3 col-form-label">Time</label>
                      <div class="col-sm-9">
                          <!-- <input type="time" class="form-control" name="time" placeholder="Enter time"
                              [(ngModel)]="appointmentData.time"> -->


                          <select (click)="showSlot()" (focus)="checkDate()" class="form-control" name="time"
                              [(ngModel)]="duplicateAppointmentData.time" required>
                              <option value={{slot}} *ngFor="let slot of slotList">{{slot}}</option>
                          </select>
                      </div>
                  </div>






                    <div class="alert alert-success" *ngIf="isSaved">
                        Updated successfully!
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal for update and view patient-->

<div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="duplicatePatientData">View/Update {{duplicatePatientData.name}}'s Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="duplicatePatientData">
          <form ngNativeValidate #f="ngForm" (ngSubmit)="onPatientUpdateHandler(f)">
            <div class="form-group row">
              <label for="age" class="col-sm-3 col-form-label">Age</label>
              <div class="col-sm-9">
                <input type="int" class="form-control" name="age" 
                  [(ngModel)]="duplicatePatientData.age" required>
              </div>
            </div>            
            <div class="form-group row">
              <label for="phone" class="col-sm-3 col-form-label">Phone</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="phone" 
                  [(ngModel)]="duplicatePatientData.phone" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="gender" class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="gender" [(ngModel)]="duplicatePatientData.gender"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="buildingName" class="col-sm-3 col-form-label">Building Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="buildingName"
                  [(ngModel)]="duplicatePatientData.address.buildingName" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="street" class="col-sm-3 col-form-label">Street</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="street"
                  [(ngModel)]="duplicatePatientData.address.street" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-sm-3 col-form-label">City</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="city"
                  [(ngModel)]="duplicatePatientData.address.city" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="pincode" class="col-sm-3 col-form-label">Pincode</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="pincode"
                  [(ngModel)]="duplicatePatientData.address.pincode" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-sm-3 col-form-label">State</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="state"
                  [(ngModel)]="duplicatePatientData.address.state" required>
              </div>
            </div>
            <div class="alert alert-success" *ngIf="isSaved2">
              Updated successfully!
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


    

<div class="ScrollStyle">
  <p *ngIf="appointmentList" [hidden]="!showAppointments">APPOINTMENTS</p>
  <div class="row" *ngIf ="appointmentList" [hidden]="!showAppointments">
  <p *ngIf ="!appointmentList">NO APPOINTMENTS FOUND</p>
      <div class="card col-sm-4" *ngFor="let appointment of appointmentList">
          <div class="card-body">
              <p class="card-text">Appointment ID: {{appointment.appointmentId}}</p>
              <h5 class="card-title">Date: {{appointment.appointmentDate}}</h5>
              <p class="card-text">Time: {{appointment.time}}</p>
              <p class="card-text">Doctor: {{appointment.doctorId}}</p>
              <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#viewAppointmentModal"
              (click)="onViewHandler(appointment)">View/Update</button>
              <button type="button" (click)="onDeleteHandler(appointment.appointmentId)" class="btn-sm btn-danger">Delete</button>
          </div>
      </div>

  </div>
</div>

<div class="ScrollStyle">
  <p *ngIf="orderList" [hidden]="!showOrders">ORDERS</p>
<div class="row" *ngIf ="orderList"  >
<p *ngIf ="!orderList">NO PRESCRIPTIONS FOUND</p>
    <div class="card col-sm-4" *ngFor="let order of orderList">
        <div class="card-body">
            <p class="card-title">Booked ID: {{order.bookedId}}</p>
            <p class="card-text">Appointment ID: {{order.appointmentId}}</p>
           <p class="card-text">Status: {{order.processingStatus}}</p>
            <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#viewAppointmentModal"
                (click)="onViewHandler(order.bookedId)">View/Update</button>
            <button type="button" (click)="onDeleteHandler(order.bookedId)" class="btn-sm btn-danger">Delete</button>
        </div>
    </div>

</div>
</div>