<style>
    .jumbotron {
        width: 800px;
        height: 800px;
        background-color: #ffffcc;
        margin-top: 100px;
        margin-left: 400px;
    }

    p {
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="jumbotron">
    <p>
        <h2>7 common exercise errors</h2>
        <b>Mistake No. 1: </b> 
        Not keeping an exercise chart or journal. A record tells you how far you’ve come and when
        it’s time to go to the next level. Noting improvements in your heart rate will also provide motivation. Check it
        15 to 60 minutes after exercising — you’ll see a decrease in this number as your heart gets stronger.<br><br>

        <b>Mistake No. 2: </b> 
        Not writing down goals. Studies show that people who chart short- and long-term goals
        accomplish more of them.<br><br>

        <b>Mistake No. 3:</b>
         Strength-training the same muscles on consecutive days. This prevents proper recovery and
        growth. Allow one to two days before working the same muscle groups.<br><br>

        <b>Mistake No. 4:</b>
         Holding your breath. Proper breathing is almost as important as proper form. Exhale as you
        lift, and inhale as you lower.<br><br>

        <b>Mistake No. 5: </b>
         Not eating enough protein. To lose weight and tone up, your plan should include cardio,
        strength training and a lower-calorie diet that’s high in protein — about three-quarters of a gram per pound of
        your ideal body weight. More protein enhances the effects of exercise and decreases fat without muscle
        loss.<br><br>

        <b>Mistake No. 6: </b>
         Being distracted during workouts. Reading or watching a complex TV show can actually slow
        your pace. Instead, listen to energetic music or try a sitcom (just be sure to place the screen at eye level for
        better performance).<br><br>

        <b>Mistake No. 7: </b> 
        Ignoring flexibility and balance training. Both are key to overall fitness.

    
</div>