
<ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/"><h3 style="color: white;"> Home</h3><span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink ="/employees"></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about"></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/contact"><h3 style="color: white;">Contact</h3></a>
    </li>
</ul>
