<p>devteam works!</p>
<div class="col-sm-12 mainbody pl-5 pb-5">
    <h1 class="text-center pt-3"><b>The minds behind QURE</b></h1><br>
    <div class="row"> <!--row1-->
        <!-- block1	 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark" style="margin-left: 20px">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center text-white"><b>Tim Soch</b></h2>
        <p class="text-white text-center text-white">DESIGNER</p><br>
        <!--<p class="text-center text-white display-4" style="font-size: 24px">"Focus Theme is great. It really saves me time and effort. Thank you so much for your help. "</p>-->
        </div>	
    <!-- block2 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center"><b>Olive Mathews</b></h2>
        <p class="text-dark text-center">PHOTOGRAPHER</p><br>
        <!--<p class="text-center text-dark display-4" style="font-size: 24px">" Focus is great. I will refer everyone I know. The theme is worth much more than I paid. I'm loving it.  "</p>-->
        </div>
    <!-- block3	 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center text-white"><b>Malan Alankara</b></h2>
        <p class="text-center text-white">ARCHITECT</p><br>
        <!--<p class="text-center text-white display-4" style="font-size: 24px">" Not able to tell how happy I am with Focus. It's excatly what I've been looking for. "</p>-->
        </div>
    </div>
  
    <div class="row"><!--row2-->
        <!-- block1	 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light" style="margin-left: 20px">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px" style="border-radius: '2px'; border-block: ; border-color: red;">
        <h2 class="text-center"><b>Tim Soch</b></h2>
        <p class="text-dark text-center">DESIGNER</p><br>
        <!--<p class="text-center text-dark display-4" style="font-size: 24px">" Focus Theme is great. It really saves me time and effort. Thank you so much for your help. "</p>-->
        </div>	
    <!-- block2 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center text-white"><b>Olive Mathews</b></h2>
        <p class="text-center text-white">PHOTOGRAPHER</p><br>
        <!--<p class="text-center display-4 text-white" style="font-size: 24px">" Focus is great. I will refer everyone I know. The theme is worth much more than I paid. I'm loving it."</p>-->
        </div>
    <!-- block3	 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center"><b>Malan Alankara</b></h2>
        <p class="text-dark text-center">ARCHITECT</p><br>
        <!--<p class="text-center text-dark display-4" style="font-size: 24px">" Not able to tell how happy I am with Focus. It's excatly what I've been looking for. "</p>-->
        </div>
    </div>
  
    <div class="row"><!--row3-->
        <div class="col-sm-3 mt-5" style="margin-left: 20px">
           <p> </p>
        </div> 
        <!-- block1	 -->
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
        <img src="assets/image/adminProfile2.png" class="rounded-circle mx-auto d-block" height="100px" width="100px">
        <h2 class="text-center text-black"><b>Tim Soch</b></h2>
        <p class="text-dark text-center">DESIGNER</p><br>
        <!--<p class="text-center text-dark display-4" style="font-size: 24px">" Focus Theme is great. It really saves me time and effort. Thank you so much for your help. "</p>-->
        </div>
        <div class="col-sm-3 mt-5">
           <p> </p>
        </div>
    
</div>