

.mainbody{
    position: relative;
    top:10%;
    left:0;
    width: 100%;
    height: 100%;
    //background: rgb(150, 194, 207);
    
    background-image: linear-gradient( rgb(224, 224, 224),rgb(249, 249, 250) , rgb(36, 50, 66));
    
    
}
.col-sm-3{
    margin-left:10%;
}
