<div class="col-sm-12 mainbody pl-5 pb-5">
    <h1 class="text-center pt-3 text-dark"><b>The minds behind QURE</b></h1><br>
    <div class="row">
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark" style="margin-left: 20px">
            <img src="assets/image/aaruni.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center text-white"><b>Aaruni Aggarwal</b></h2>
            <p class="text-white text-center text-white">UI/BACKEND</p><br>
        </div>

        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
            <img src="assets/image/alok.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center"><b>Alok Kumar</b></h2>
            <p class="text-dark text-center">UI/BACKEND</p><br>
        </div>
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark">
            <img src="assets/image/amulya.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center text-white"><b>Amulya Meka</b></h2>
            <p class="text-center text-white">UI/UX/BACKEND</p><br>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light" style="margin-left: 20px">
            <img src="assets/image/arjun.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center"><b>Arjun M</b></h2>
            <p class="text-dark text-center">UI/UX</p><br>
        </div>
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-dark">
            <img src="assets/image/athul.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center text-white"><b>Athul K S</b></h2>
            <p class="text-center text-white">UI/UX/BACKEND</p><br>
        </div>
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
            <img src="assets/image/gayatri.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center"><b>Gayatri Sama</b></h2>
            <p class="text-dark text-center">UI/UX</p><br>            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 mt-5" style="margin-left: 20px">
            <p> </p>
        </div>
        <div class="card col-sm-3 mt-5 pt-5 pb-5 bg-light">
            <img src="assets/image/ragini.jpeg" class="rounded-circle mx-auto d-block" height="100px" width="100px">
            <h2 class="text-center text-black"><b>Ragini Garg</b></h2>
            <p class="text-dark text-center">BACKEND</p><br>            
        </div>
        <div class="col-sm-3 mt-5">
            <p> </p>
        </div>

    </div>