

.mainbody{
    position: relative;
    top:10%;
    left:0;
    width: 100%;
    height: 100%;
    //background: rgb(150, 194, 207);
    
    background-image: linear-gradient(rgb(212, 222, 248) , rgb(0, 119, 255));
    
    
}
.col-sm-3{
    margin-left:10%;
}
