
<ul class="navbar-nav mr-auto">
    <li class="nav-item" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/"><h3>Home &nbsp;</h3><span class="sr-only">(current)</span></a>
    </li>
    <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink ="/employees"></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about"></a>
    </li> -->
    <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><h3>Contact Us</h3></a>
    </li>
</ul>
