<header >
     <nav class="navbar navbar-expand-md navbar-dark bg-white stylish-color-white navbar-static-top">
        <a class="navbar-brand app-name h2-responsive font-weight-bold" routerLink="" style="color: black; margin-left:7%;"><img src="assets/image/qure-logo.png" height="79px" width="185px" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto" style="margin-left: 60%;">
            
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <b><a class="nav-link waves-dark" routerLink="/" style="color: black;">Home</a></b>
              </li>
              <li class="nav-item"> 
                  <b><a class="nav-link waves-dark" mdbWavesEffect routerLink="/contact" style="color: black;">Contact</a></b>
              </li>
              <li class="nav-item" >
                  <b><a class="nav-link waves-dark" mdbWavesEffect routerLink="/about" style="color: black;">About</a></b>
              </li>
            
              

                <li class="nav-item dropdown" *ngIf="authenticationService.isUserLoggedIn('PATIENT')"  dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font-weight-bold" style="color: rgb(15, 15, 15);" mdbWavesEffect>My Profile<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                      <b>
                          <a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/patients" style="color: black;">Profile</a>
                          <a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/Chat" style="color: black;">Chat</a>
                          <a class="dropdown-item waves-dark" mdbWavesEffect (click)="onLogout()" style="color: red;">Log out</a>
                        </b>
                        </div>
                </li>
                <li class="nav-item dropdown" *ngIf="authenticationService.isUserLoggedIn('DOCTOR')"  dropdown>
                  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font-weight-bold" style="color: rgb(15, 15, 15);" mdbWavesEffect>Dr Profile<span class="caret"></span></a>
                  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <b><a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/doctors" style="color: black;">Profile</a>
                        <a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/Chat" style="color: black;">Chat</a>
                        <a class="dropdown-item waves-dark" mdbWavesEffect (click)="onLogout()" style="color: red;">Log out</a></b>
                       
                      </div>
              </li>
                
              
              <li class="nav-item dropdown" *ngIf="!(authenticationService.isUserLoggedIn('DOCTOR') || authenticationService.isUserLoggedIn('PATIENT'))" dropdown>
                  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color: rgb(15, 15, 15);" mdbWavesEffect> Sign In<span class="caret"></span></a>
                  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/doctors/login" style="color: black;">Doctor</a>
                        <a class="dropdown-item waves-dark" mdbWavesEffect routerLink="/patients/login" style="color: black;">Patient</a>
                       
                      </div>
              </li>

              <li class="nav-item dropdown" *ngIf="!(authenticationService.isUserLoggedIn('DOCTOR') || authenticationService.isUserLoggedIn('PATIENT'))" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" style="color:rgb(15, 15, 15);" mdbWavesEffect>
                      Sign up<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                      <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctors/register" style="color: black;">Doctor</a>
                      <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/patients/register" style="color: black;"> Patient</a>
                      
                    </div>
                  </li>
          

          </ul>              
        </div>
    </nav> 

</header> 