<div class="row">

    <br>
    <div class="col-md-2" style="background-color: #e6f9ff;">
        <br>
        <center>
        <img src="assets/image/adminProfile2.png" id="admin">
        <br><br>
        <h4 style="text-align: center;"><b>ADMIN</b></h4><br>
    </center>
        First Name: John<br>
        Last Name: Smith<br>
        Email Id: johnsmith@gmail.com<br>
        Phone: 9876543210<br>
        Address: Bangalore, India<br>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-4">

        <a routerLink="/admin-doctor"><img src="assets/image/doctor-gif.gif" style="height: 300px; width: 370px;"></a>
    </div>
    <div class="col-md-4">
        <a routerLink="/admin-pharmacy"><img src="assets/image/pharmacy-gif.gif" style="height: 300px; width: 370px;"></a>

    </div>

</div>
