<div class="row">

<div class="col-md-6">
    <center><mdb-card style="width: 500px;height: 500px;">
        <div class="view overlay waves-light" id="one" mdbWavesEffect >
          <!-- Card img -->
          <mdb-card-img src="assets/image/admin1.jpg" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Doctors</h4>
          </mdb-card-title>
    
          <!--Text-->
    
         
    
          <button routerLink="/admin-doctor" mdbBtn class="btn btn-outline-primary" mdbWavesEffect>Go here</button>
        </mdb-card-body>
      </mdb-card> </center>
    
</div>
   <!-- Card -->
  
  <!-- Card -->
  <div class="col-md-6">
 <center> <mdb-card style="width: 500px;height: 500px;"> 
    <div class="view rgba-white-slight waves-light"  id="one" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/image/car3.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Pharmacy</h4>
      </mdb-card-title>

      <!--Text-->
     
      <br>
      <button routerLink="/admin-pharmacy" mdbBtn class="btn btn-outline-primary" mdbWavesEffect>Go here</button>
    </mdb-card-body>
  </mdb-card></center>
 </div>
</div>
