<div class="container">
    <div class="row">
        <section class="col-sm-12 main-section ">
            <a class="nav-link" routerLink="/patientLanding/:id" style="color: black; font-size: 30px;">&laquo;
                Previous</a>
            <div class="jumbotron">
                <h4 class="display-4">Patient Appointments !</h4>
                <a class="btn btn-primary btn-lg" routerLink="/appointment/bookappointment" role="button">Create New
                    Booking</a>
            </div>
        </section>
        <!-- <div class="card col-sm-3" *ngFor="let appointment of appointmentList">
        <div class="card-body">
            <h5 class="card-title">Appointment Number: {{appointment.id}}</h5>
            <p class="card-text">Date: {{appointment.appointmentDate}}</p>
            <p class="card-text">Time: {{appointment.time}}</p> -->
        <!-- <a routerLink="{{appointment.id}}" class="link">View Details</a> -->
        <!-- </div> -->
        <!-- <a routerLink="{{appointment.id}}" class="link"> -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewAppointmentModal" (click)="onViewHandler(appointment)">View/Update</button> -->
        <!-- <button type="button" (click)="onDeleteHandler(appointment.id)" class="btn btn-danger">Delete</button> -->
        <!-- <button type="button" (click)="onAddHandler()" class="btn btn-danger">Book new</button> -->
        <!-- </div> -->
        <div>
            <h4>Appointments</h4>
        </div>
        <div class="ScrollStyle">
            <div class="row">

                <div class="card col-sm-2" *ngFor="let appointment of appointmentList">
                    <div class="card-body">
                        <p class="card-text">Appointment ID: {{appointment.id}}</p>
                        <h5 class="card-title">Date: {{appointment.appointmentDate}}</h5>
                        <p class="card-text">Time: {{appointment.time}}</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#viewAppointmentModal"
                            (click)="onViewHandler(appointment)">View/Update</button> -->
                        <button type="button" (click)="onDeleteHandler(appointment.id)"
                            class="btn btn-danger">Delete</button>
                        <!-- <p class="card-text">Slot: {{booking.slot}}</p> -->
                        <!-- <button type="button">Cancel this appointment</button> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .jumbotron {
        background-image: url(assets/image/background2.jpg);
        background-size: cover;
        background-position-y: inherit;
        height: 300px;

    }
</style>