<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>
<div class="row">
    <div class="col-md-8" style="height:800px; float:left">
        <img src="assets/image/chatBackground.jpg" class="img-fluid">
    </div>
    <div class="col-md-4" style="height:800px; float:right">
        <div class="card" style="height:600px; border-style:solid;border-width: 3px;border-color: rgb(150, 185, 206);">
            <div class="card-body">
                <div class="row" style="margin: 2px;">
                    <div class="col-md-12 ">
                        <h3 class="font-italic"><b>&nbsp;Qure Health Doctor</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn " style="background-color: white; display: inline;" (click)="disconnect()" routerLink="../"><i class="fa fa-close" style="font-size:30px;color:red"></i></button>
                        </h3>
                        <span id="activity"></span>
                        
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody id="convo">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="main-content" class="container"
            style="border-style: solid;border-width: 5px; border-color: rgb(29, 76, 233);">

            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <!--<label for="connect">WebSocket connection:</label>-->
                            <!-- <button id="connected" (click)="connect()" class="btn btn-default" type="submit">Request
                                Chat</button> -->
                            
                            <!-- <button type="button" class="btn btn-primary" (click)="disconnect()" routerLink="../">Leave</button> -->

                        </div>
                    </form>

                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="name" class="form-control" name="name"
                            style="width:300px; margin:8px;" placeholder="Type here..">
                            <button (click)="sendMessage()" class="btn btn-success" type="submit">Send</button>

                    </div>
                </form>


            </div>

        </div>

    </div>
    <!--trying chat ui-->
</div>
</div>
<router-outlet></router-outlet>