<style>

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
  

  

</style>

<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>
<div style="margin-top: 100px;">
<div class="card" style="width: 880px; margin-left: 480px; border-style: solid;border-width: 5px;border-color: rgb(150, 185, 206);">
    <div class="card-body">
        <div class="row" style="margin: 20px;">
            <div class="col-md-12">
                <table class="table table-striped " style="border-top-style: none;border-right-style: none;border-bottom-style: none;">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="font-italic"><b>Conversation</b></h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="convo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="main-content" class="container" style="width: 880px; margin-left: 480px;border-style: solid;border-width: 5px; border-color: rgb(29, 76, 233);">

    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <!--<label for="connect">WebSocket connection:</label>-->
                    <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                    <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Message:&nbsp;</label>
                    <input type="text" [(ngModel)]="name" class="form-control" name="name" style="width: 300px;"> <br>
                </div>
                <button (click)="sendMessage()" class="btn btn-success" type="submit">Send</button>
            </form>
        </div>


    </div>

</div>

</div>
<!--trying chat ui-->


<router-outlet></router-outlet>