<!--Section: Blog v.4-->
<section class="my-5">
    <a routerLink="/">GO BACK</a>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/image/blog3.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">How to Get Something Off Your Mind</a>
            </h2>
            <p>Written by
              <a>Amulya Meka</a>, , April 23, 2019</p>
  
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <p>Having a constant cycle of negative thoughts may feel like it’s taking over your life. It could be an incident at work or the mental impact of a breakup. Whatever it is, you could be thinking there's no escape. 
          </p>
  
          <p>These obsessive thoughts are what we call ruminating. They may last a day, a week, months or even years. If you submit fully to whatever it is that’s on your mind and allow it to take over, the consequences can be damaging.
          </p>
          <p>
              By allowing these thoughts to invade your mental space you’re opening up the door to anxiety, low self-esteem and depression. So you need to take ownership. Retrain your brain and find ways that you can get those stubborn thoughts off your mind.
          </p>
          <h2>
              1. Don’t Run Away Too Quickly
          </h2>
          <p>
              Your instinctive reaction to having something play on your mind may be to distract yourself as soon as possible. In the short term, it allows you to focus your thoughts elsewhere. However, the downside is that if you’re not processing the problem correctly, it will eventually catch up on you.

              <br/>Let’s say you lost your job for example. The final meeting with your former boss didn't go well and you wish you had handled things differently. In the immediate moments that follow, you keep finding yourself replaying the conversation over and over again. As a result of this, you do all you can to shift your attention elsewhere.
              
              <br/>By trying to run away from these thoughts too soon, you don’t give your brain the chance to process what has happened. It doesn’t give you the opportunity to learn from the experience and come to peace with how things ended. So, by trying to move your thoughts out too quickly, you’re running a greater risk of keeping them there for much more time in the long run.
              
              As uncomfortable as it may feel, learn to sit with your thoughts for a short period of time.
          </p>
          <h2>
              2. Verbalize Your Thoughts
          </h2>
          <p>
              Keeping your thoughts in your mind can be like a ticking time bomb. They build up and up until eventually, you explode and have what we will loosely call “a meltdown.” Don’t allow yourself to get to that point.

              <br/>Seek support from a close friend and have a conversation about what’s going on in your mind. Verbalizing your thoughts is a great way of being able to understand them and to come to peace with them.
              
              <br/>It can also be useful to gain a different perspective or to get validation from someone you trust. So pick up the phone or meet up for coffee and get talking your way through what’s in your brain.
          </p>
          <h2>3. Have a Self-Care Day</h2>
          <p>
              Because of the overwhelming factor of ruminating, you may find yourself turning to unhealthy behaviors. For example, you may decide to binge eat or drink alcohol excessively.

              <br/>Turning to such vices is a dangerously slippery slope. Instead, to relieve the pressure of your thoughts, have a self-care day and devote your time and energy to healthy things.
              
              <br/>Start the day with a tasty wholesome breakfast. Get a session in at the gym and book a day at the spa. If they’re not your thing, take yourself for a day out and treat yourself to some happiness. By focusing on the positive experience you’re having, you will be free of those niggling thoughts.
          </p>
          <h2>4. Music And Positive Visualization</h2>
          <p>
              Busting out your best beats is extremely rewarding. Doing it as a form of healthy distraction is especially rewarding.

              <br/>Get those euphoric tracks—the kind that make your hairs stand up—playing in your ears. Allow the music to take your mind somewhere positive. Connect the powerful melodies with the visualization of something uplifting - all whilst the endorphins run through your brain.
              
              <br/>Seriously, music is a great escape and can be exactly what you need for an awesome feel-good moment that relieves your mind of stress and overthinking.
          </p>
          <h2>
            5. Know That Everything Will be Okay
          </h2>
          <p>
              It’s very rare you hear of someone being stuck in a repetitive thought cycle their whole life. Experiences come and go, and so do the thoughts that follow them. Take reassurance that whatever is playing in your brain is just a phase. Like everything, it too shall pass.

              But in order to move on effectively, you must take action. You must implement strategy and remember to take care of your mind - it’s important.
              
              Above are some short-term and long-term solutions to that dreaded rumination. With focus and commitment, they shouldn’t be too difficult to implement and the benefits will be plenty.
          </p>
        </div>
      </div>
    </div>
    
  
  </section>
  <!--Section: Blog v.4-->
  <style>
  p{
  font-size: 20px;
  }
  </style>