<style>
    .jumbotron {
        width: 800px;
        height: 960px;
        background-color:#e4b4b4; 
        /* #ffffcc; */
        margin-top: 100px;
        margin-left: 400px;
    }

    p {
        font-weight: 330;
    }
</style>

<div class="jumbotron">
    <p>
        <b>Know the Signs and Symptoms of Depression for Early Intervention</b><br>

        Depression can be a sneaky disorder that can manifest without your conscious awareness and take you by surprise
        you suddenly wake up to realise that you are completely helpless and no hope for the future. However, today we
        are more equipped to identify the signs and symptoms of depression in ourselves as well as someone else.<br>

        <u>Listed here are the most common signs and symptoms, that you need to watch out for:</u><br>

        Feeling hopeless and helpless:
        Another classic feature of depression is feeling that nothing will ever get better and that you have absolutely
        no control over what is happening. The person will feel dejected about their current situation and the future,
        thus making no effort to improve either.<br>


        Thoughts of suicide:
        If someone around you expresses a wish to harm themselves, end things for themselves or even passively express a
        wish for their life to end, consider it as one of the crucial signs of depression and as mentioned earlier,
        offer them assistance.
        <br>

    
        Sleep and appetite changes:
        If the person has started sleeping or eating more than usual, or sleeping and eating less than usual then you
        can consider it as a sign or symptom of the disorder.<br>


        Relentless pains and aches:
        If there are unexplained headaches, backaches or stomach aches which do not subside even with medication, it
        could be psychosomatic pain- physical pain that arises out of mental discomfort.<br>


        Anger and anxiety:
        Explosive anger outbursts, feeling agitated or restless without any apparent cause are two other important ways
        of identifying possible depression.<br>


       Loss of energy:
        Your bed becomes your best friend whom you never wish to leave. The individual may find even a 5-minute talk
        with a friend or relative physically draining. This is one of the most common depression symptoms.
    </p>
</div>