<div class="row">
    <div class="col-md-3">

        <!-- Card -->
        <div class="card border-primary text-center card-personal" style="background: rgba(138, 166, 214, 0.2);">

            <!-- Card image-->
            <img class="card-img-top" src="\assets\image\appoint1.jpg" alt="Card image cap">
            <!-- Card image-->

            <!-- Card content -->
            <div class="card-body ">
                <!-- Title-->
                <!-- <a>
                    <p class="card-text">You don't have to visit or call us now.</p>


                </a> -->
                <form class="form" [formGroup]="searchForm" (ngSubmit)="onSearchDoctorHandler()">
                    <div class="form-group " id="searchbar"><p style="color: rgb(15, 15, 146);">Choose location:</p>
                        <select class="form-control" formControlName="city" style="width: 250px; height: 40px; margin-left: 30px;">
                            <option value="false">ALL locations</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Hyderabad">Hyderabad</option>

                            <option value="Pune">Pune</option>
                            
                             
                            
                           

                        </select>
                        <br />
                        <p style="color: rgb(15, 15, 146);">Choose specialization:</p><select class="form-control" formControlName="specialization"
                        style="width: 250px; height: 40px; margin-left: 30px;">
                            <option value="false">All specializations</option>
                            <option value="ENT">ENT</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Psychiatrist">Psychiatrist</option>
                            <option value="Neurologist">Neurologist</option>
                            <option value="Cardiologist">Cardiologist</option>


                        </select>
                        <br>
                        <button type="submit" class="btn btn-outline-primary">SELECT</button>

                    </div>
                </form>
                <!-- <p class="card-meta">{{patientData.email}}</p> -->
                <!-- Text -->



            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
    <div class="col-md-9">
        <h4>Doctors</h4>
        <div >
            <div class="row">

                <div class="card col-md-3 border-info "  style="margin: 5px 5px 5px 5px;" *ngFor="let doctor of doctorList">
                    <div class="card-body" >
                        <p class="card-text" ><span style="color:rgb(55, 92, 194); text-transform: uppercase; font-weight:bold;">Doctor Name:</span> {{doctor.name}}</p>
                        <p class="card-text"><span style="color:rgb(55, 92, 194); text-transform: uppercase; font-weight:bold;">MIC number:</span> {{doctor.licenseNumber}}</p>
                        <p class="card-text" *ngIf="doctor.address"><span style="color: rgb(55, 92, 194); text-transform: uppercase; font-weight:bold;">Adress: </span>{{doctor.address.buildingName}},
                            {{doctor.address.street}},
                            {{doctor.address.city}}, {{doctor.address.state}}
                        </p>
                        <p class="card-text"><span style="color:rgb(55, 92, 194); text-transform: uppercase; font-weight:bold;">Contact number:</span> {{doctor.phone}}</p>
                        <span class="text-center"*ngIf="doctor.avgRating ==0" class="card-text">Not yet rated</span>
                        <span *ngIf="doctor.avgRating >=1" class="fa fa-star checked"></span>
                        <span *ngIf="doctor.avgRating >=2" class="fa fa-star checked"></span>
                        <span *ngIf="doctor.avgRating >=3" class="fa fa-star checked"></span>
                        <span *ngIf="doctor.avgRating >=4" class="fa fa-star checked"></span>
                        <span *ngIf="doctor.avgRating >=5" class="fa fa-star checked"></span>
                        <!-- <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span> -->
                        <p class="text-center" style="font-weight:bold;color: rgb(224, 109, 67);" *ngIf="doctor.approvalStatus==1">Verified &#x2714;</p>


                        <!-- <button type="button" data-toggle="modal" (click)="onSelectHandler(doctor.doctorId)"
                class="btn btn-danger">BOOK</button> -->
                        <center> <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#bookAppointmentModal"
                                (click)="onSelectHandler(doctor.doctorId)">BOOK</button></center>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="bookAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="onBookHandler(f)">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Doctor Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="doctorId" placeholder="Enter Id"
                                [(ngModel)]="appointmentData.doctorId" disabled required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Patient Id</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="patientId" placeholder="Enter Id"
                                [(ngModel)]="appointmentData.patientId" disabled required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input type="date" id="date" class="form-control" name="appointmentDate" id="appointmentDate"
                                [(ngModel)]="appointmentData.appointmentDate" (blur)="checkDate()" required min=0>
                            <p class="text-danger" id="dateErr"></p>    
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Time</label>
                        <div class="col-sm-9">
                            <!-- <input type="time" class="form-control" name="time" placeholder="Enter time"
                                [(ngModel)]="appointmentData.time"> -->


                            <select (click)=showSlot() class="form-control" name="time"
                                [(ngModel)]="appointmentData.time" required>
                                <option value={{slot}} *ngFor="let slot of slotList">{{slot}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="price" [(ngModel)]="appointmentData.price"
                                disabled>
                        </div>
                    </div>

                    <div class="alert alert-success" *ngIf="isSaved">
                        Updated successfully!
                    </div>

                    <div class="modal-footer">
                            <button type="button" class="btn-sm btn-secondary" data-dismiss="modal"
                                routerLink="/patients">Close</button>
                            <button type="submit" class="btn-sm btn-primary">Book</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>