<div class="row">
<div class="col-md-3">

    <!-- Card -->
    <div class="card text-center card-personal">

        <!-- Card image-->
        <img class="card-img-top" src="\assets\image\appoint1.jpg" alt="Card image cap">
        <!-- Card image-->

        <!-- Card content -->
        <div class="card-body ">
            <!-- Title-->
            <a>
                    <p class="card-text">You don't have to visit or call us now.</p>
                   
                
            </a>
            <form class="form" [formGroup]="searchForm" (ngSubmit)="onSearchDoctorHandler()">
                <div class="form-group "  id="searchbar">Location
            <select class="form-control" formControlName="city" style="width: 200px; height: 30px;">
                    <option value="false">ALL location</option>
                <option value="delhi">delhi</option>
                <option value="pune">pune</option>
                <option value="bangalore">bangalore</option>
        
              </select>
              <br />
              Specialization<select class="form-control" formControlName="specialization" style="width: 200px; height: 30px;">
                    <option value="false">All specialization</option>
                <option value="ENT">ENT</option>
                <option value="Dentist">Dentist</option>
                <option value="Psychiatrist">Psychiatrist</option>
                <option value="Neurologist">Neurologist</option>
                <option value="Cardiologist">Cardiologist</option>
                <option value="Orthopaedician">Orthopaedician</option>
          
                </select>
                <br>
                <button type="submit" class="btn btn-primary">SELECT</button>          
                
              </div>
              </form>
            <!-- <p class="card-meta">{{patientData.email}}</p> -->
            <!-- Text -->
           
           

        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->

</div>
<div class="col-md-9">





<h4>Doctors</h4>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<div class="row">

<div class="card col-sm-4" *ngFor="let doctor of doctorList">
    <div class="card-body">
        <p class="card-text">Doctor Name: {{doctor.name}}</p>
        <p class="card-text">MIC number: {{doctor.licenseNumber}}</p>
        <p class="card-text" *ngIf="doctor.address">Adress: {{doctor.address.buildingName}}, {{doctor.address.street}}, 
            {{doctor.address.city}}, {{doctor.address.state}}
        </p>
        <p class="card-text">Contact number: {{doctor.phone}}</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><p>verified &#x2714;</p>

                
        <!-- <button type="button" data-toggle="modal" (click)="onSelectHandler(doctor.doctorId)"
            class="btn btn-danger">BOOK</button> -->
            <center> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookAppointmentModal"
                (click)="onSelectHandler(doctor.doctorId)">BOOK</button></center>
    </div>
</div>

</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="bookAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Appointment Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="onBookHandler(f)">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Doctor Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="doctorId" placeholder="Enter Id"
                            [(ngModel)]="appointmentData.doctorId" disabled required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Patient Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="patientId" placeholder="Enter Id"
                            [(ngModel)]="appointmentData.patientId" disabled required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">date</label>
                    <div class="col-sm-9">
                        <input type="date" id="date" class="form-control" name="appointmentDate"
                            [(ngModel)]="appointmentData.appointmentDate" required min=0>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Time</label>
                    <div class="col-sm-9">
                        <!-- <input type="time" class="form-control" name="time" placeholder="Enter time"
                            [(ngModel)]="appointmentData.time"> -->
                            

                            <select (click)=showSlot() class="form-control" name="time" [(ngModel)]="appointmentData.time" required>
                                        <option value={{slot}} *ngFor="let slot of slotList">{{slot}}</option>
                                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="price" placeholder="Enter time"
                            [(ngModel)]="appointmentData.price" disabled>
                    </div>
                </div>

                <div class="alert alert-success" *ngIf="isSaved">
                    Updated successfully!
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/patients">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>










