<a class="nav-link" routerLink="/"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Go back</a>
    <div class="row">
        <div class="col-md-3">
        <img src="assets/image/faq.jpg">
        </div>
        <div class="col-md-9">
        <div class="faqform">
    <h2>Frequently Asked Questions</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        What is QURE?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p>QURE is an appointment scheduler to facilitate seeking confirming and fulfilling
                        appointments for doctor consultations health checks and
                        diagnostic services at any of the Apollo Hospitals across the group through the website </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Can I cancel or reschedule my appointment?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <p> You may log in with the ID and password and manage your appointments. You can cancel or
                        reschedule your appointment with
                        the same or a different doctor depending on the availability of doctor slot on the chosen date.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Is an E-mail Id compulsory for booking on QURE?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <p>E-mail ID is mandatory for booking through the website. If you do not have an E-mail ID you
                        can give a family members ID. The purpose of providing an E-mail ID is for easy communication
                        that may be required from time to time. It is always advisable
                        to provide an E-mail ID. However for telephonic booking E-mail ID is not mandatory.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseThree">
                        Do I need to fill the details again when I book an appointment the next time?
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <p>You do not need to provide your details again when you book an appointment the next time. With
                        the login ID and password you can book another appointment for yourself
                        or any other family member. But you have to fill the patient details if he/she is new to QURE.
                    </p>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseThree">
                        Can I pay online?
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <p>Currently the online payment facility is not available. You have to pay your
                        bill amount at the respective hospital. The online payment facility will be available soon.</p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseThree">
                        What do I do when I reach the hospital?
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <p>Please approach the reception/ QURE help desk regarding your appointment.
                        The respective staff will guide you to the consultant. We request you to reach the hospital 15
                        minutes prior to your appointment for completing
                        the registration process. You have to pay registration fee in addition to the consultation fee.
                    </p>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>