
h2{
    font-weight:600;
    font-size:1.5em;
}

button{
    font-size:0.8em;
    font-weight:400;
}
p{
    font-size:1.3em;
}
a{
    color:black;
    font-size:1.5em;
}
img{
    margin-top:280px;
    margin-left:50px;
    mix-blend-mode: multiply;
}