<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    
<form>
    <h1>Patient's registration</h1>
        <label>
                <p class="label-txt"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Enter your name</p>
                <input type="text" class="input">
                <div class="line-box">
                  <div class="line"></div>
                </div>
              </label>
              <label>
                    <p class="label-txt"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Enter your email</p>
                    <input type="text" class="input">
                    <div class="line-box">
                      <div class="line"></div>
                    </div>
                  </label>
                  <label>
                        <p class="label-txt"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Enter password:</p>
                        <input type="password" class="input">
                        <div class="line-box">
                          <div class="line"></div>
                        </div>
                      </label>
  <label>
    <p class="label-txt"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;Confirm Password:</p>
    <input type="password" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;Enter Age</p>
    <input type="text" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
        <p class="label-txt"><i class="fa fa-tint" aria-hidden="true"></i>&nbsp;enter Blood-group</p>
        <input type="text" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
  <button type="submit"><h3>submit</h3></button>
  </form>
  </div>