<div class="container">
    <div class="row" id="row1">
        <div class="col-sm-3">
            <a class="nav-link"><img src="assets/image/dentist.jpg"></a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('Dentist')">DENTIST</button>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/specialization"><img src="assets/image/cardiology.png">
            </a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('Cardiologist')">CARDIOLOGIST</button>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/specialization"><img src="assets/image/ent.png">
            </a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('ENT')">ENT</button>
        </div>
    </div>

    <div class="row" id="row2">
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/specialization"><img src="assets/image/neurology.jpg">
            </a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('Neurologist')">NEUROLOGIST</button>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/specialization"><img src="assets/image/orthopedic.jpg">
            </a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('Orthopaedician')">ORTHOPAEDICIAN</button>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" routerLink="/specialization"><img src="assets/image/psychology.jpg">
            </a><br>
            <button class="btn btn-outline-primary" (click)="onSubmitDoctor('Psychiatrist')">PSYCHIATRIST</button>
        </div>
    </div>
</div>


<style>
    .col-sm-3 img {
        margin-left: 20px;
        border-color: black;
        border-style: solid;
        border-radius: 50%;
    }

    img {
        margin-left: 18px;
        border-radius: 50%;
    }

    .col-sm-3 {
        margin-right: 40px;
    }

    .col-sm-3 button {
        margin-left: 70px;
    }
</style>