<style>
    .jumbotron {
        width: 800px;
        height: 920px;
        background-color: #e4b4b4;
        /* #ffffcc; */
        margin-top: 100px;
        margin-left: 400px;
    }

    p {
        font-weight: 330;
    }
</style>

<div class="jumbotron">
    <p>
        <b>How to keep liver healthy – 4 Ways to Keep Your Liver Healthy</b><br>

        The liver is one of the most important organs in the human body. It performs more than 500 functions and plays
        an important role in maintaining the overall functioning of the body. The primary function of the liver is to
        process the food you eat. It is therefore vital that you keep your liver healthy and ensure that it is
        functioning efficiently. Because, without it you cannot survive. Here a few important tips to maintain your
        liver health.<br>

        Limit your alcohol consumption:

        There are many students that suggest that consuming alcohol in moderate quantity is beneficial for health.
        However, alcohol abuse can be detrimental and if left uncontrolled it can be fatal. The human liver has the
        capacity to only process a small amount of alcohol every hour. Beyond that it can damage the liver, which over a
        period can lead to fat build-up in the liver, swelling or inflammation. If you are already suffering from a
        liver diseases, even a small quality of alcohol can worsen your condition.To keep your liver healthy, it is
        advisable that limit your alcohol consumption.<br>

        Drink plenty of water:

        Your body needs to remain sufficiently hydrated. Failing to drink water will lead to
        toxin build up in the body, which in turn will affect the efficient functioning of the kidney, and the
        liver.Studies suggest that dehydration affects the liver’s ability to carry out the detoxification process,
        which in lead to fat build-up in the liver. It is therefore important that you drink at least 3-4 litres of
        water every day.<br>

        Maintain a healthy body weight:

        This is another effective way to not just keep your liver healthy but maintain your overall well-being. Being
        over overweight or obese is one of the major causes of developing liver diseases. You can maintain a healthy
        body weight and keep your liver healthy through a combination of regular exercise and a balanced diet.<br>

        
    </p>
</div>