<!--Section: Blog v.4-->
<section class="my-5">
    <a routerLink="/">GO BACK</a>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/image/skinblog.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">Eat your way to fabulous skin</a>
            </h2>
            <p>Written by
              <a>Dr.Surya Vamsi, MD</a>, October 18, 2019</p>
  
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <p>Everyone has a favourite face cream or treatment, but beautiful skin starts with nourishment from within. 
            Older cells are constantly shed and replaced by younger ones and a steady supply of key nutrients is essential to support this rapid growth. 
            Eat the correct balance of foods and you'll feed your skin the vital nutrients it needs to help it stay soft, supple and blemish-free. 
          </p>
  
          <p>That said, as much as we may try to resist it, our skin does naturally age. Wrinkles and age spots are the inevitable result of time, but skin ageing may be sped up by overexposure to the sun and tanning beds, strong soaps, chemicals and poor nutrition. With this in mind, a holistic approach is best. Treat your skin kindly and optimise your nutrition by eating antioxidant-rich fruit and vegetables, healthy fats from oily fish and nuts, and a varied and balanced diet. This should give optimal levels of the nutrients that are crucial for radiant skin, including beta carotene, vitamins C and E, zinc and selenium.</p>
          <!-- </p> -->
          <h1>Top tips on eating your way to glowing, healthy skin..</h1>
         
            <h3>1. Eat a minimum of five portions of fruit and vegetables every day</h3>
            <p>
            Fruit and vegetables contain powerful antioxidants that help to protect skin from the cellular damage caused by free radicals. Free radicals, smoking, pollution and sunlight can cause wrinkling and age spots. Eat a rainbow of colourful fruit and vegetables and aim for at least five portions a day. Betacarotene, found in carrots, sweet potatoes and pumpkin, and lutein, found in kale, papaya and spinach are potent antioxidants, important for normal skin cell development and healthy skin tone.
          </p>
         
              <h3>2. Eat enough vitamin C</h3>
              <p>
              Vitamin C is also a super antioxidant. It is needed to support the immune system, promote radiant skin and help blemishes heal properly. The best sources are blackcurrants, blueberries, broccoli, guava, kiwi fruits, oranges, papaya, strawberries and sweet potatoes. Vitamin C is needed to produce collagen that strengthens the capillaries that supply the skin.
            </p>
           
                <h3>3. Eat enough vitamin E</h3>
                <p>
                Vitamin E protects skin from oxidative (cell) damage and supports healthy skin growth. Foods high in vitamin E include almonds, avocado, hazelnuts, pine nuts and sunflower and corn oils.
              </p>
             
                  <h3>4. Drink six to eight glasses of water a day</h3>
                  <p>
                      Skin needs moisture to stay flexible. Even mild dehydration will cause your skin to look dry, tired and slightly grey. Drink six to eight glasses of water a day – all fluids count towards your daily allowance, but water is the best. If you work in an office, keep a large bottle of water on your desk to remind you to drink. Herbal, caffeine-free teas are good too. Don't forget that some fruit and vegetables, such as watermelon, courgette and cucumber, also contribute fluids – the added benefit is that the minerals they contain will increase the rate you hydrate your body and skin. Try to avoid smoking and excessive alcohol consumption as both can age the skin.
                </p>
                <h3>5. Eat plenty of zinc</h3>
                <p>
                    Zinc is involved in the normal functioning of the sebaceous glands in the skin (which produce oil) and helps to repair skin damage and keep skin soft and supple. Zinc-rich foods include fish, lean red meat, wholegrains, poultry, nuts, seeds and shellfish.
                </p>
                <br/>
                <p>
                    Eat to beat common skin problems
                    Once you make changes to your diet, don't expect an overnight miracle. It takes six weeks for new skin to emerge up to the surface, so the visible benefits from dietary changes will take just as long. For persistent skin conditions, talk to your GP or consider seeing a dermatologist.
                </p>
                <p>
                    How can diet affect acne?
                    Acne is caused by inflammation and infection of the sebaceous glands of the skin. Sebaceous glands are stimulated by hormones (particularly androgens). To avoid acne, cut back on saturated and hydrogenated fats in margarines and processed foods. Also cut down on junk food as well as foods high in sugar, such as cakes and biscuits. Eat more raw vegetables, wholegrains, fresh fruit and fish. Try to include selenium-rich foods, such as Brazil nuts, cashew nuts, fresh tuna, sunflower seeds, walnuts and wholemeal bread.
                </p>
                <p>
                    How can diet affect eczema?
                    Eczema is a skin condition that usually begins as patchy redness, often on the hands but can appear anywhere on the skin. Although there are many triggers, one of the most common is food sensitivity. The most common offending foods are milk, eggs, fish, cheese, nuts and food additives. Omega-3 fats, zinc and vitamin E may help reduce symptoms.
                </p>
        </div>
      </div>
    </div>
    
  
  </section>
  <!--Section: Blog v.4-->
  <style>
  p{
  font-size: 20px;
  }
  </style>