<!--Section: Blog v.4-->
<section class="my-5">
    <a routerLink="/">GO BACK</a>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/image/heartblog5.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">Lifestyle Changes for Heart Attack Prevention</a>
            </h2>
            <p>Written by
              <a>Dr. Dharma Rakshak, Cardiologist</a>, 14/08/2018</p>
  
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <p>One of the biggest contributors to these statistics is a lack of commitment to a heart healthy lifestyle. Your lifestyle is not only your best defense against heart disease and stroke, it's also your responsibility. A heart-healthy lifestyle includes the ideas listed below. By following these simple steps you can reduce all of the modifiable risk factors for heart disease, heart attack and stroke.
          </p>
          <h2>Stop smoking</h2>
          <p>If you smoke, quit. If someone in your household smokes, encourage them to quit. We know it's tough. But it's tougher to recover from a heart attack or stroke or to live with chronic heart disease. Commit to quit. We're here to help if you need it.
          </p>
          <h2>Choose good nutrition</h2>
          <p>A healthy diet is one of the best weapons you have to fight cardiovascular disease. The food you eat (and the amount) can affect other controllable risk factors: cholesterol, blood pressure, diabetes and overweight. Choose nutrient-rich foods — which have vitamins, minerals, fiber and other nutrients but are lower in calories — over nutrient-poor foods. Choose a diet that emphasizes intake of vegetables, fruits, and whole grains; includes low-fat dairy products, poultry, fish, legumes, nontropical vegetable oils, and nuts; and limits intake of sweets, sugar-sweetened beverages, and red meats.  And to maintain a healthy weight, coordinate your diet with your physical activity level so you're using up as many calories as you take in.</p>
        <h2>Be physically active every day</h2>
        <p>Research has shown that at least 150 minutes per week of moderate-intensity physical activity can help lower blood pressure, lower cholesterol and keep your weight at a healthy level. And something IS better than nothing. If you're inactive now, start out slow. Even a few minutes at a time may offer some health benefits. Studies show that people who have achieved even a moderate level of fitness are much less likely to die early than those with a low fitness level.</p>
        <h2>Manage diabetes</h2>
        <p>At least 68% of people >65 years of age with DM die of some form of HD; 16% die of stroke . Other risk factors, such as high blood pressure, high cholesterol, smoking, obesity, and lack of physical activity can greatly increase a person with diabetes’ chance of developing cardiovascular disease.</p>
        
      <h2>Reduce stress</h2>
    <p>A few studies have noted a relationship between coronary heart disease risk and stress in a person's life that may affect the risk factors for heart disease and stroke. For example, people under stress may overeat, start smoking or smoke more than they otherwise would. Research has even shown that stress reaction in young adults predicts middle-age blood pressure risk.</p>
  <h2>Limit alcohol</h2>  
  <p>Drinking too much alcohol can raise blood pressure, increase cardiomyopathy, stroke, cancer, and other diseases  It can contribute to high triglycerides and produce irregular heartbeats. Excessive alcohol consumption contributes to obesity, alcoholism, suicide and accidents.

     <br/> However, there is a cardioprotective effect of moderate alcohol consumption. If you drink, limit your alcohol consumption to no more than two drinks per day for men and no more than one drink per day for women. The National Institute on Alcohol Abuse and Alcoholism defines on drink as 1-1/2 fluid ounces (fl oz) of 80-proof spirits (such as bourbon, Scotch, vodka, gin, etc.), 5 fl oz of wine, or 12 fl oz of regular beer.  It's not recommended that nondrinkers start using alcohol or that drinkers increase the amount they drink.</p>
  </div>
      </div>
    </div>
    
  
  </section>
  <!--Section: Blog v.4-->
  <style>
  p{
    font-size: 20px;
  }
  </style>