
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="height: 100px;">
        <a class="navbar-brand" href="#" style="font-size: 30px;">QURE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
           <app-nav>
           </app-nav>
        </div>
    </nav>
</header>

