

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="overflow: hidden; border-width: 15px;">
                <a class="nav-link" routerLink="blogs/blog1"><img src="assets/image/exercise.jpg" alt="common exercise errors"
                        title="COMMON EXERCISE ERRORS"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div  class="card"style="overflow: hidden; border-width: 15px;">
                <a class="nav-link" routerLink="blogs/blog2"><img src="assets/image/How-to-keep-liver-healthy.jpg" alt="HOW TO KEEP LIVER HEALTHY"
                        title="HOW TO KEEP LIVER HEALTHY" /></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="overflow: hidden; border-width: 15px;">
                <a class="nav-link" routerLink="blogs/blog3"><img src="assets/image/Depression-Symptoms-and-Signs.jpg"
                        alt="SIGNS AND SYMPTOMS OF DEPRESSIONS" title="SIGNS AND SYMPTOMS OF DEPRESSIONS"></a>
            </div>
        </div>
    </div>
</div>