<a class="nav-link" routerLink="/"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Go back</a>
<!-- Jumbotron -->

<div class="jumbotron text-center">

    <!-- Title -->
    <h3 class="card-title h3">Have questions about our products, support services, or anything else?</h3>
    <br/>
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
        
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
        <h4 class="pink-text">
          <mdb-icon fas icon="microphone"></mdb-icon>&nbsp;
      <strong>Our Support Team is here to help you !</strong>
    </h4>

        <p class="card-text">
            
                    
                <b>Get in touch with Us</b><br>
                <b class="blue-text my-4 font-weight-bold">(080) 4567-4567</b><br>
                <b class="blue-text my-4 font-weight-bold">contact.qure@gmail.com</b>
                <br><br>
                84 Solo Sreet 158/9<br>
                Marathalli, Bangalore, India<br><br>
                <b>Open hours:</b><br>
            <b>10 am to 6 pm Mon-Sat<br>
                Closed on Sundays</b>
                
        </p>
  
      </div>
      
    </div>
    <!-- Grid row -->
  
    <hr class="my-4">
  
    <div class="pt-2">
      <button type="button" mdbBtn color="blue" mdbWavesEffect>Sign up now <mdb-icon fas icon="user-plus" class="ml-1"></mdb-icon> </button>
      <!-- <button type="button" mdbBtn color="primary" outline="true" mdbWavesEffect> Download <mdb-icon fas icon="download" class="ml-1"></mdb-icon></button> -->
    </div>
  
  </div>

  <!-- Jumbotron -->