<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <div class="col-md-4">
    <img src="assets/image/illustration.webp" height="390px;" width="420px;"></div>
    <div class="col-md-8">
<form [formGroup]="loginForm" (ngSubmit)="onSubmitButton()">
    <h1>Patient's login</h1>
    <label>
        <p class="label-txt"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;ENTER YOUR ID</p>
        <input type="text" formControlName="patientId" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;ENTER YOUR EMAIL</p>
        <input type="text" formControlName="email" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;ENTER YOUR PASSWORD</p>
        <input type="password" formControlName="password" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <input type="hidden" value="{typeUser}">
    <button type="submit">
        <h3>submit</h3>
    </button>
    <br><br>
    <h3>New User?</h3> &nbsp; <a class="nav-link" routerLink="registerPatient">
        <h3>Register</h3>
    </a>
</form>
</div>
</div>
