<!--Section: Blog v.4-->
<section class="my-5">
    <a routerLink="/">GO BACK</a>
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/image/foodblog4.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">Balanced Diet for the Balanced life</a>
            </h2>
            <p>Written by
              <a>Dr.Uma Maheswari </a>, 19/08/2019</p>
  
            
          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
          <p>According to a new study published in the journal Nature Communications, eating a diet rich in flavonoids, compounds found in plant-based foods and drinks, can reduce your risk of dying from cancer and heart disease. The study analyzed data from the Danish Diet, Cancer and Health cohort that collected information on the diets of 53,048 Danes over 23 years.
          <br/>
          Researchers discovered that people who regularly consumed “moderate” amounts of flavonoid-rich foods had an inverse relationship with dying from heart disease or cancer. (Meaning, the more flavonoids they consumed, the lower their risk.) This effect topped out at having about 500 milligrams a day, researchers found.

          <br/> The study also showed a strong link between consuming regular doses of flavonoids, smoking, and drinking alcohol. People who were at a high risk of developing chronic diseases due to smoking and drinking more than two alcoholic drinks a day seemed to benefit the most from eating flavonoid-rich foods.
          
          <br/>That doesn’t mean that eating flavonoid-rich foods will wipe out the harmful effects of excessive drinking and smoking, the researchers warn. But, the study found, it may help lower the risk of developing chronic diseases from these habits.
          
          <br/>While flavonoids are known to be good for you, the researchers aren’t totally sure what it is about them that lowers the risk of developing certain diseases. Flavonoids fight inflammation and improve blood vessel function, which could play a role, lead researcher Nicola Bondonno, a post-doctoral research fellow at Australia’s Edith Cowan University, said in a press release. Beyond that, though, more research is needed.
          
          </p>
          <h2>What are flavonoids again?</h2>
          <p>Flavonoids are a group of compounds usually found in fruits, vegetables, grains, bark, roots, stems, flowers, tea, and wine. Flavonoids are known for their anti-inflammatory and anti-carcinogenic properties, and are “noted for their antioxidant benefits,” nutritionist Jessica Cording, a New York-based RD, tells Health.
          </p>
          <h2>What are the best flavonoid-rich foods?</h2>
          <p>Many fruits and vegetables are a great source of flavonoids, but nutritionists say these are among the best flavonoid-rich foods and drinks you can have: tea (especially green tea), dark chocolate (Cording recommends opting for 85% cacao or more), berries, apples, citrus fruits, asparagus, leafy greens, and red wine

            <br/>  If you don’t feel like looking up the flavonoid content in your food every time you eat, remember that in general, fruits and vegetables with a lot of color contain flavonoids (think: blueberries, oranges, and spinach). Angelone says. However, Onions and garlic also contain the compounds, adds Upton.</p>
        <h2>How can I make sure I’m eating enough flavonoid-rich foods?</h2>
        <p>
            This particular study found that 500 milligrams is a good amount to aim for daily. If you wanted to break that down diet-wise, it would mean having a cup of tea, an apple, an orange, a little more than a half cup serving of blueberries, and about a cup of broccoli in a day.

            <br/>If you don’t want to have to think about it that much, you can steal this trick from Cording: “Aim for one flavonoid-rich food at each meal.” That can be as simple as sprinkling blueberries on your oatmeal in the morning, adding a handful of spinach to your pasta sauce, and having an orange as a snack.
            
            <br/>“The best way to get flavonoids is to eat plenty of fresh or lightly cooked produce, six or more servings a day,” Angelone says. Keep this in mind, though, per Angelone: Some flavonoids are lost during storage, especially in the first couple of weeks, and they’re lost when you cook them. That’s why she recommends having a combination of cooked and raw produce. “Cooking can enhance the digestion of fiber and make some nutrients more bioavailable but can destroy other nutrients, especially with prolonged cooking,” she explains.
            
            <br/> Still, if you can’t get up to 500 milligrams of flavonoids a day, you shouldn’t stress it: Research has found that having any amount of flavonoids a day seems to be better at lowering your disease risk than none at all.
        </p>
          </div>
          <center><a routerLink="/">GO BACK</a></center>
      </div>
    </div>
    
  
  </section>
  <!--Section: Blog v.4-->
  <style>
  p{
    font-size: 20px;
  }
  </style>